In [1]:
import pandas as pd

In [4]:
# object_data_1 = pd.read_csv('./2024_Mar_ob_count.csv')
print(object_data_1.columns)
print(len(object_data_1))

Index(['directory', 'image_name', 'datetime', 'date', 'site_id', 'camera_name',
       'animal_counts', 'bicycle_counts', 'bowl_counts', 'bus_counts',
       'car_counts', 'debris_counts', 'food_counts', 'lorry_counts',
       'loudspeaker_counts', 'motorcycle_counts', 'person_counts',
       'stall_counts', 'stove_counts', 'taxi_counts', 'trash_counts',
       'trotro_counts', 'truck_counts', 'umbrella_counts', 'van_counts',
       'vendor_counts'],
      dtype='object')
5707544

In [5]:
object_data_2 = pd.read_csv('./2024_Jul_ob_count.csv')
print(object_data_2.columns)
print(len(object_data_2))

Index(['directory_name_rectified', 'site_id_cam_angle', 'view', 'image_name',
       'datetime_rectified', 'date_rectified', 'animal_counts',
       'bicycle_counts', 'bowl_counts', 'bus_counts', 'car_counts',
       'debris_counts', 'food_counts', 'lorry_counts', 'loudspeaker_counts',
       'motorcycle_counts', 'person_counts', 'stall_counts', 'stove_counts',
       'taxi_counts', 'trash_counts', 'trotro_counts', 'truck_counts',
       'umbrella_counts', 'van_counts', 'vendor_counts',
       'directory_name_original', 'datetime_original'],
      dtype='object')
6896313

In [8]:
column_diff = [column for column in object_data_2.columns if column not in object_data_1.columns]
print(column_diff)

['directory_name_rectified', 'site_id_cam_angle', 'view', 'datetime_rectified', 'date_rectified', 'directory_name_original', 'datetime_original']

In [9]:
object_data_2.head()

,directory_name_rectified,site_id_cam_angle,view,image_name,datetime_rectified,date_rectified,animal_counts,bicycle_counts,bowl_counts,bus_counts,...,stove_counts,taxi_counts,trash_counts,trotro_counts,truck_counts,umbrella_counts,van_counts,vendor_counts,directory_name_original,datetime_original
0,AD_01_03_2024_C22_S15,AD_right,clear,MFDC3070.JPG,2024-03-01 08:32:02,2024-03-01,0,0,0,0,...,0,1,1,0,0,0,0,0,AD_01_03_2024_C22_S15,2024-03-01 08:32:02
1,AD_01_03_2024_C22_S15,AD_right,clear,MFDC3071.JPG,2024-03-01 08:37:02,2024-03-01,0,1,0,0,...,0,0,1,1,0,0,0,0,AD_01_03_2024_C22_S15,2024-03-01 08:37:02
2,AD_01_03_2024_C22_S15,AD_right,clear,MFDC3072.JPG,2024-03-01 08:42:02,2024-03-01,0,0,0,0,...,0,1,2,1,0,0,0,0,AD_01_03_2024_C22_S15,2024-03-01 08:42:02
3,AD_01_03_2024_C22_S15,AD_right,clear,MFDC3073.JPG,2024-03-01 08:47:02,2024-03-01,0,0,0,0,...,0,2,1,2,1,0,1,0,AD_01_03_2024_C22_S15,2024-03-01 08:47:02
4,AD_01_03_2024_C22_S15,AD_right,clear,MFDC3074.JPG,2024-03-01 08:52:02,2024-03-01,0,0,0,0,...,0,0,0,0,1,0,0,0,AD_01_03_2024_C22_S15,2024-03-01 08:52:02

In [10]:
object_data_2['view'].value_counts()

view
clear       6603926
occluded     292387
Name: count, dtype: int64

In [11]:
column_diff = [column for column in object_data_1.columns if column not in object_data_2.columns]
print(column_diff)

['directory', 'datetime', 'date', 'site_id', 'camera_name']

In [13]:
object_data_2['site_id_cam_angle'].unique()

array(['AD_right', 'AD_left', 'TMW_right', 'ASH', 'EL_left', 'EL_right',
       'N1W_left', 'N1W_right', 'TMW_left', 'JT', 'LA', 'NM_right',
       'NM_left', 'TF_right', 'TF_left', 'UGH_right', 'UGH_left'],
      dtype=object)